{
    "printWidth": 80,
    "semi": true,
    "singleQuote": false,
    "trailingComma": "none",
    "plugins": ["prettier-plugin-sh"],
    "overrides": [
        {
            "files": "*.{yml,yaml}",
            "options": {
                "singleQuote": true
            }
        }
    ]
}
