on:
  pull_request:
    branches:
      - main
    paths:
      - '**.rs'
      - 'Cargo.*'
      - '*/Cargo.*'

name: Build and Test

jobs:
  test:
    name: Build and test on ${{ matrix.os }} with ${{ matrix.features }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - macOS-latest
          - windows-latest
    steps:
      - uses: actions/checkout@v3

      - uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy

      - uses: Swatinem/rust-cache@v2

      - uses: taiki-e/install-action@v1
        with:
          tool: cargo-hack

      # - name: Check benchmarks
      #   uses: actions-rs/cargo@v1
      #   env:
      #     RUSTFLAGS: "-D warnings"
      #   # NOTE: benchmarks are limited to compiling only on non windows systems, without any features enabled.
      #   if: ${{ matrix.os != 'windows-latest' && matrix.features == '--no-default-features' }}
      #   with:
      #     command: clippy
      #     args: --verbose --all-targets -p benchmarks

      - name: Check rumqttc and rumqttd
        run: cargo hack clippy --verbose --each-feature --no-dev-deps --optional-deps url -p rumqttc -p rumqttd
        env:
          RUSTFLAGS: "-D warnings"

      - name: Check docs
        if: ${{ matrix.os != 'windows-latest' }}
        run: cargo hack doc --verbose --no-deps --each-feature --no-dev-deps --optional-deps url -p rumqttc -p rumqttd

      - name: Test rumqttc and rumqttd
        run: cargo hack test --verbose --each-feature --optional-deps url -p rumqttc -p rumqttd
